#login-box{
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    background: #00000080;
    padding: 20px 50px;
}

#login-box h1{
    color: #ffffff;
}

body {
    background: url(../img/time1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}