*{
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(120, 241, 224, 0.12);
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQIW2NgQAXGZHAAGioAza6+Hk0AAAAASUVORK5CYII=);

}

input {
    margin-left: 5px;
    border-radius: 5px;
}
button { 
	width: 130px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 17px; /* 字体大小 */
}
.submit {
    margin-left: 90px;
    width: 130px; /* 宽度 */
	height: 20px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 17px; /* 字体大小 */
}
button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}

#box {
 margin-top: 10px;
 margin-right: 20px;
 justify-content: center;
    align-items: center;
}

#box2 {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
#add_form {
    display: none;
}

#modify_form {
    display: none;
}

.container {
    display: flex;

    flex-direction: column;
    width: 25%;
    height: 30px;
    background-color: rgb(151, 179, 152);
    
    border-radius: 10px;

}
input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}